
<div class="jumbotron" class="Home" id="home">
   <div class="container">
		<h1>A Journey Worth Travelling</h1>
			<div class="container">
				<h2>--Marc-ACM--</h2>
   </div>
 </div>  
 <div class="container">
 	<div class="row">
 	<%= link_to "My Blog", controller: 'articles'%>
 	</div>
</div>