/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body{
  height: 100%;
  width: 100%;
  display: block;
  -webkit-font-smoothing: antialiased;
}


}

header {
  height: 100%;
  overflow: hidden;
}



h1{

font-size: 50px;
text-align: center;
}

h2{

font-size: 20px;
text-align: right;
}

p{


font-size: 30px;

}


.btn-primary{
	background-color: #dff0d8;
}



.bg {
  position: fixed;
  background: url("IMG_2117.JPG") center center;/*chosen image =>you image*/
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: scroll;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /*-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    /*filter: blur(5px);*/
 
}

.jumbotron{
	width: 100%
	height: auto;
	padding-top:100px;
	padding-bottom: 100px;
}





a{
	text-center;
	
}